@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     @if(User.Identity.IsAuthenticated)
    {
        <a asp-action="ActivarAutentuador" asp-controller="Cuentas" class="btn btn-primary"> Confirmar Autenitficacion de dos pasos </a>
        <br />
    }
</div>
